{% extends 'estore/base.html' %}
{% load bootstrap4 %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h2> 購物車 </h2>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th colspan="2">商品資訊</th>
                    <th>單價</th>
                </tr>
                </thead>
                <tbody>
                {% for product in object.items.all %}
                    <tr>
                        <td>
                            <div style="max-width: 220">
                                <a href="{% url 'product_detail' product.id %}" class="thumbnail">
                                    {% if product.image %}
                                        <img class="img-thumbnail img-fluid rounded" src="{{ product.image.url }}" alt="{{ product.title }}">
                                    {% else %}
                                        <img class="img-thumbnail img-fluid rounded" src="//placehold.it/200x200&text=No Pic" alt="{{ product.title }}">
                                    {% endif %}
                                </a>
                            </div>
                        </td>
                        <td>
                            <a href="{% url 'product_detail' product.id %}">
                                {{ product.title }}
                            </a>
                        </td>
                        <td>
                            {{ product.price }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <br>
            <div class="total clearfix">
                <span class="pull-right">總計 {{ object.total_price }} NTD</span>
            </div>
            <hr>
            <div class="checkout clearfix">
                {% bootstrap_button '確認結帳' button_class='btn-lg btn-danger pull-right' href='#' %}
            </div>
        </div>
    </div>
{% endblock %}
